// ======================================
//  Variables
// ======================================

// Theme colors
$black: #000;
$white: #fff;
$theme-background: #fcfbfb;
$theme-card-border: #d3d2d3;
$theme-light-font: #8f9498;
