// ======================================
//  Grid
// ======================================

main {
  display: grid;
  grid-gap: 1em;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

.loading {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2em;
  height: calc(100vh - 200px);
  @include flexy($disp: flex, $dir: column, $just: center);
}
