// ======================================
//  Header
// ======================================

h1 {
  text-transform: uppercase;
  font-size: 1.25em;
}

header {
  @include flexy($disp: flex, $dir: column, $just: space-between);
  text-align: center;
  @media (min-width: 768px) {
    flex-direction: row;
    text-align: inherit;
  }
  padding-bottom: 1em;
}
